---
apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    fluxcd.io/automated: "true"
  name: flashchat-service
  namespace: flashchat
spec:
  replicas: 1
  selector:
    matchLabels:
      app: flashchat-service
  template:
    metadata:
      labels:
        app: flashchat-service
    spec:
      nodeSelector:
        "beta.kubernetes.io/os": linux
      containers:
      - name: flashchat-service
        image: mcntrn/flashchat-service:30315ab
        env:
        - name: JAVA_OPTS
          value: "-XX:MinRAMPercentage=60.0 -XX:MaxRAMPercentage=90.0 -XX:+HeapDumpOnOutOfMemoryError"
        - name: MONGO_USERNAME
          valueFrom:
            secretKeyRef:
              key: "mongodbUsername"
              name: "mongodbcred"
        - name: MONGO_PWD
          valueFrom:
            secretKeyRef:
              key: "mongodbPassword"
              name: "mongodbcred"
        - name: MONGO_HOST
          value: "mongodb.flashchat.svc.cluster.local"
        resources:
          requests:
            cpu: 100m
            memory: 128Mi
          limits:
            cpu: 250m
            memory: 512Mi
        ports:
        - containerPort: 8080
