env:
  POLLER_INTERVAL_MILLISECONDS: 1000000  # Caution, setting this frequency may incur additional charges on some platforms
  WATCH_TIMEOUT: 6000000
  GOOGLE_APPLICATION_CREDENTIALS: /app/gcp-creds/gcp-creds.json

# Create files from existing k8s secrets
filesFromSecret:
  gcp-creds:
    secret: gcp-creds
    mountPath: /app/gcp-creds
